<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lostandfoundbackground.mapper.AdminMapper">

    <insert id="addAdmin">
        insert into administrator
        (phone,name,password,level,create_time,update_time)
        values(
            #{admin.phone},
            #{admin.name},
            #{admin.password},
            #{admin.level},
            #{admin.createTime},
            #{admin.updateTime}
        )
    </insert>
    <update id="changePwd">
        update administrator
        set password = #{newPwd}, update_time = NOW()
        where id = #{id}
    </update>

    <update id="banAdminById">
        update administrator
        set status = -1, update_time = NOW()
        where id = #{id}
    </update>

    <delete id="deleteAdminById">
        delete from administrator
        where id = #{id}
    </delete>


    <select id="findAdminBaseByPhone" resultType="com.example.lostandfoundbackground.entity.Admin">
        select id,name,password,phone,level,status
        from administrator
        where phone = #{phone}
    </select>

    <select id="getPwd" resultType="java.lang.String">
        select password
        from administrator
        where id = #{id}
    </select>


</mapper>
